
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Iceland', cursive;
  font-size: x-large;
}

button {
  width: 100%;
}
input{
  width: 100%;
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
  border-color: transparent;
  transition: border-color 0.25s;
  border: 1px solid transparent;
  color: white;
  overflow: scroll;
} 
.container-calculator{
  width: 30%;
  padding: 2%;
  background-color: #0c0c0c;
  color: white;
}

.col{
  padding: 1% !important;
}